<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Shot Line</title>

        <meta name="keywords" content="Basketball Jordan Player Team Court Net Hoop Shop Store Shipment Free">
        <meta name="description" content="Find quality basketball products at an affordable price">
        <%- include("../fragmente/head.ejs");
        
        %>
        
    </head>

    <body>
        <%- include("../fragmente/header.ejs");
        
        %>

        <main>
           <img src = "/Resurse/imagini/403.jpg" style = "display: block; margin: 0 auto; height: 600px;">
           <div style="font-size: 45px; font-weight: bold; text-align: center; margin: 0 auto;">You are not allowed to see this!</div>
        </main>

        
        <%- include("../fragmente/footer.ejs");
        %>
    </body>

</html>