<!DOCTYPE html>
<html lang="ro">
	<head>
		<%- include("../fragmente/head") %>
	</head>
	<body class="container">
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
			<h1>Mail confirmat</h1>
		</main>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>